            <repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/5.1.0/"/>
            <repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/releases/5.1.0/"/>
            <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/releases/5.1.0/"/>
            <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-branding/releases/5.1.0/"/>
            <repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/releases/5.1.0/"/>
            <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-eclipsejavadevelopmenttools/branches/release5.2.0/"/>
